* {
  box-sizing: border-box;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#header-nav {
	background-color: #dbdada;
	border-color: #000000;
	border-radius: 0;
	padding: 0;
	margin: 0;
}

/*title*/
.navbar-brand h1 {
  color: #000000;
  font-size: 1.5em;
  font-weight: bold;
  line-height: .75;
  margin-top: 5px;
  padding-bottom: 5px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  	border: 1px solid #000000;
}

.navbar-header button.navbar-toggle:hover {
  	background: #f7fbbe;
}

#collapsable-nav { 
	position: relative;
	border-color:  #dbdada;
	padding: 0px;
  	margin: 0px;
  	width: 100%;
}

#nav-list {
	position: relative;
  	padding: 0px;
  	margin: 0px;
  	width: 100%;
}

#nav-list a {
	border: 1px solid #000000;
  	background-color: #f7fbbe;
  	color: #000000;
  	text-align: center;
  	font-size: 1.4em;
}

#nav-list a:hover {
 	 background: #ffffff;
}

#main-content {
	padding: 15px;
	width: 100%;
}

#main-content h2 {
	font-size: 2em;
}

#main-content h3 {
	text-align: center;
	padding-top: 15px;
}

#main-content p {
	padding: 0px 15px 15px 15px;
}

#main-content .row {
	padding: 10px;
}

#main-content .row div a {
	padding-left: 15px;
}

#main-content .category-tile {
	background-color: #dbdada;
}


@media (min-width: 768px) {
	.navbar-brand h1 {
	  	position: absolute;
		left: 20px;
	}

	.navbar-brand  {
		height: 57px;
	}
}

@media (max-width: 767px) {
	.navbar-header button.navbar-toggle {
	 	clear: both;
	 	margin-top: -35px;
	 	margin-right: 30px;
	}

	.navbar-brand h1 {
		position: absolute;
		left: 20px;
		padding-bottom: 5px: 
	}

	#nav-list {
		position: relative;
	  	padding: -30px;
	  	margin: -30x;
	  	width: 100%;
	}
}


