html,body{
  overflow-x: hidden;
}

body {
  font-size: 16px;
  background-color: #FFFFFF;
  font-family: Monaco;
}

div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 65px;          
    height: 35px;         
    padding: 2px;   
    font: 12px sans-serif;    
    background: white;  
    border: 1px;
    border-color: #000000;
    border-style: solid;
    border-radius: 8px;     
    pointer-events: none;     
}

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
}

/* HEADER */
#header-nav {
  color: #FFFFFF;
  background-color: #011E41;
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
  height: 140px;
}

#logo-img {
  background: url('../images/site-logo-white-small.png') no-repeat;
  width: 150px;
  height: 100px;
  margin: 25px 15px 10px 0;
}

#back {
  padding-top: 35px;
  margin-right: 20px;
}

#back a {
  color: #FFFFFF;
  text-align: right;
  padding-bottom: 0;
}

.navbar-brand {
  padding-top: 60px;
}

.navbar-brand h1 { /* Page Title */
  font-family: Monaco;
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
/*  text-shadow: 1px 1px 1px #222;*/
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.centered {
    text-align: center;
}

/* MAIN CONTENT */
#main-content {
  width: 1250px;
}

#main-content .note {
  padding-top: 10px;
  margin: 0px;
  text-align: center;
}

#main-content h2 {
   font-size: 1.4em;
   color: black;
   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
}

#main-content .left {
  text-align: left;
  font-weight: bold;
}

#main-content h4 {
   font-size: 1.1em;
   color: black;
   text-align: center;
}

#main-content div {
   color: #000000;
   text-align: center;
}

#main-content #graphic {
  padding: 0;
  margin:  0;
}

#main-content a {
   color: #000000;
   text-align: center;
}

#main-content p {
   color: #000000;
}

#main-content .break {
   background-color: #c4113c;
   margin-top: 5px;
   margin-bottom: 5px;
   padding: 5px;
}

#main-content .break h2 {
   text-align: center;
   color: white;
}

#main-content .btn-toolbar {
  position: relative;
  left:40%;
  top: 50%;
}

/* FOOTER */
.panel-footer {
  color: #FFFFFF;
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 15px;
  background-color: #011E41;
  border-top: 0;
}

.panel-footer .text-center {
  padding-bottom: 15px;
}

/* BUTTONS */
#main-content #tools {
  margin-top: 20px;
}

.btn {
  color: white;
  padding: 10px 20px;
  border: 0 none;
  font-weight: 450;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 5px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-secondary {
	color: white;
	background: #EFEFEF;
	color: #041E42;
}
 
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open > .dropdown-toggle.btn-secondary {
	background: #DCDCDC;
}
 
.btn-secondary:active, .btn-secondary.active {
	color: #ffffff;
	background: #041E42;;
	box-shadow: none;
}

/*LOGIN FORM*/
#login-message {
  font-family: Arial;
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 0;
  line-height: .75;
}

#okta-sign-in {
  margin:40px auto 8px;
}

#okta-sign-in.auth-container .okta-sign-in-header {
   font-size: 1.5em;
   color: black;
   text-align: center;
}

/*UNDER CONSTRUCTION*/
#main-content a.highlight { 
  color: #c4113c; 
  text-decoration: none; 
}

#main-content a.highlight:hover { 
  color: #c4113c; 
  text-decoration: none; 
}

#main-content article { 
  padding-top: 15%;
  padding-bottom: 15%;
  display: block; 
  text-align: 
  left; width: 650px; 
  margin: 0 auto; 
}

#main-content h1.big { 
  font-size: 50px; 
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.6;
  shape-rendering: crispEdges
}

.grid path {
  stroke-width: 0;
}

/* i-pad */
@media (max-width: 1025px) {
	body {
	 width: 1200px;
	}

  #main-content {
    margin-left: 25px;
    width: 90%px;
  }

	.navbar {
		width: 1200px;
	}

	#header-nav .container{
		padding-top: 5px;
		margin-left: 10px;
	}

	#back {
		position: absolute;
		left: 93%;
		top: 45px;
		padding: 0px;
	}

	#main-content {
		width: 1200px;
	}

  #main-content .container {
    width: 1200px;
    margin: 20px 20px 20px 20px;
  }

	.row {
		width: 1200px;
	}

	.panel-footer {
		width: 1200px;
	}
}

/* i-phone */
@media (max-width: 768px) {
	body {
	 width: 1200px;
	}

  #main-content {
    margin-left: 10%;
    width: 90%;
  }

	.navbar-brand h1 {
		position: absolute;
		top: 35px;
		left: 35px;
	}

	#back {
		top: 10px;
	}

  .panel-footer {
    width: 1200px;
  }
}


